@import "breakpoints";
@import "styles";

:host {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: $background-color;
  color: $text-color;
  box-shadow: 7px 7px 14px -11px rgba(66, 68, 90, 1);
  border-radius: 8px;
  margin-bottom: 16px;
}

.settings {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.router {
  display: flex;
  font-size: 24px;
  gap: 12px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $text-color;
  }

  .active-link {
    color: $primary-color;
  }
}

.font-active {
  color: red;
}

span {
  cursor: pointer;
  font-weight: 600;
}

img {
  width: 20px;
  cursor: pointer;
}

.img-active img {
  background-color: red;
}