<ng-container *ngIf="{fontSize: fontSize$ | async, colorMode: colorMode$ | async} as settings">

  <div class="router">
    <a
      [routerLink]="['/']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >Home</a>
    <a
      [routerLink]="['/main-content']"
      routerLinkActive="active-link"
    >Content</a>
  </div>

  <div class="settings">
    <span
      [class.font-active]="settings.fontSize === 'small'"
      [style.font-size]="'16px'"
      (click)="setFontSize('small')"
    >
      A
    </span>
    <span
      [class.font-active]="settings.fontSize === 'medium'"
      [style.font-size]="'20px'"
      (click)="setFontSize('medium')"
    >
      A
    </span>
    <span
      [class.font-active]="settings.fontSize === 'large'"
      [style.font-size]="'24px'"
      (click)="setFontSize('large')"
    >
      A
    </span>
    <img
      src="https://static.thenounproject.com/png/4808961-200.png"
      alt="light"
      [class.img-active]="settings.colorMode === 'light'"
      (click)="setColorMode('light')"
    />
    <img
      src="https://icons.veryicon.com/png/o/commerce-shopping/small-icons-with-highlights/night-mode-1.png"
      alt="night"
      [class.img-active]="settings.colorMode === 'night'"
      (click)="setColorMode('night')"
    />

    <span>{{ settings.colorMode }}</span>
  </div>
</ng-container>