@import "breakpoints";

:host {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 8px;
  padding: 8px 16px 0;
}

.font-active {
  color: red;
}

span {
  cursor: pointer;
  font-weight: 600;
}

img {
  // width: 20px;
  // padding: 10px;
  // border-radius: 50px;
  // cursor: pointer;
}

.img-active img {
  background-color: red;
}

.img-wrapper {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50px;
}