<div class="sections">
  <app-banner
    [style.grid-area]="'banner'"
    class="box"
  />
  <app-watchlist
    [style.grid-area]="'watchlist'"
    class="box"
  />
  <app-speed
    [style.grid-area]="'speed'"
    class="box"
  />
  <app-sales
    [style.grid-area]="'sales'"
    class="box"
  />
  <app-energy
    [style.grid-area]="'energy'"
    class="box"
  />
  <app-newsletter
    [style.grid-area]="'newsletter'"
    class="box"
  />
  <app-music
    [style.grid-area]="'music'"
    class="box"
  />
</div>