@import "breakpoints";
@import "styles";

:host {
  display: block;
  padding: 0 16px;
  background-color: $background-color;
  width: 100%;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $screen-480) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "banner banner"
      "watchlist watchlist"
      "sales sales"
      "sales sales"
      "speed speed"
      "energy energy"
      "newsletter newsletter"
      "music music";
  }

  @media (min-width: $screen-720) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "banner banner watchlist"
      "sales sales speed"
      "sales sales energy"
      "newsletter newsletter ."
      "music music .";
  }

  @media (min-width: $screen-960) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "banner banner banner watchlist"
      "sales sales speed energy"
      "sales sales speed energy"
      "newsletter newsletter newsletter music";
  }
}

.box {
  display: block;
  background-color: $background-color2;
  box-shadow: 7px 7px 14px -11px rgba(66, 68, 90, 1);
  border-radius: 8px;
  min-height: 100px;
}